/.vim/bundle/
.vim/.netrwhist
/.config/configstore
/.config/gcloud
/.config/iterm2
/.config/gochromecast
/.config/gtk-2.0
/.config/zed
/.config/wireshark
/.config/github-copilot
/.config/emacs
/.config/doom
/.config/raycast
/.config/goose
/.config/mcphub
packer_compiled.lua
.DS_Store
